* {
    font-family: 'Open Sans Condensed', sans-serif;
}

.bordered-wrapper {
    padding: 5px;
    border: solid 1px #000;
    margin: 0 auto;
}

.logout-link {
    margin-right: 15px;
}

.square-thumbnail {
    margin-bottom: 10px;
}

.tab-content {
    padding-top: 15px;
}

.add-image {
    margin-top: 20px;
}

.category-selector {
    padding: 0 15px;
}

.add-album-button {
    margin-left: 15px;
}

.homepage-title {
    margin-top: -60px;
    margin-bottom: 0px;
}


.main-header .main-title {
    text-align: center;
    font-size: 110px;
}

.main-title img, .single-image-wrapper img {
    margin: 0 auto;
}

.single-image-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.main-header .main-quote {
    text-align: center;
    margin-left: 150px;
    position: relative;
    top: -120px;
    font-size: 20px;
}

.main-category-image {
    margin-bottom: 20px;
}

.main-category-link {
    text-align: center;
    color: #000;
}

.main-category-link:hover {
    color: #000;
    text-decoration: none;
}

.album-wrapper {
    margin: 0 0 20px 0;
}

.album-title-simple {
    margin: 0px 0 20px 0;
    border-bottom: solid 1px;
}

.img-thumbnail {
    border-radius: 0;
    border: solid #000 1px;
    margin-bottom: 30px;
}

.fancybox-opened .fancybox-skin {
    border-radius: 0px;
    border: solid #000 1px;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
}

.fancybox-overlay {
    background: rgba(255,255,255,0.9);
}

.social-container {
    z-index: 9999;
    position: relative;
    margin-top: 10px;
}

textarea.no-resize {
    resize: none;
}

.navbar-brand {
    padding: 0;
    position: relative;
    top: -4px;
}

.about-text-form {
    margin-bottom: 20px;
}

.author-container {
    text-align: center;
}

.author-container img {
    display: inline;
}

.footer {
    text-align: center;
    position: relative;
}

body:not(.client) .footer {
    padding-bottom: 20px;
}

.client .footer {
    margin-top: -75px; /* negative value of footer height */
    height: 75px;
    clear:both;
    padding-top:20px;
}

html, body {
    height: 100%;
}

body.body-margin {
    padding-top: 60px;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom: 80px; /* this needs to be bigger than footer height*/
}

.dont-click-count-wrapper  {
    display: inline;
}

.social-link-block {
    margin-top: 30px;
}

.social-link {

    color: #000;
    border: solid 1px #000;
    padding: 14px;
}

.social-link:hover {
    text-decoration: none;
    color: #000;
}

.social-link.facebook-page-link {
    margin: 0 20px;
}

.admin-image-wrapper {
    margin-bottom: 30px;
}

.about-block {
    margin: 50px 0 50px 0;
}

.client .form-control {
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-color: #000;
    color: #000;
}

.client .form-control:focus {
    border-color: #000;
    outline: 0;
    /*
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    */
}

.contact-form-wrapper {
    min-height: 300px;
}

.contact-form {
    padding: 0 40px;
}

.contact-error-wrapper ul {
    list-style: none;
    padding: 0;
}
.contact-form-thanks {
    min-height: 260px;
}

.client nav a {
    color: #000;
}

.client nav a:hover:not(.navbar-brand), .client nav li.active a:not(.navbar-brand), .client nav li.active a:not(.navbar-brand):hover {
    background: none;
    border: solid 1px #000;
    padding: 14px;
}

.client nav li.active a:not(.navbar-brand) {
    margin: 0 1px;
}

.fbShare, .twitterSay, .pinIt {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.fbShare {
    background: url("../images/fb-grey.png");
    background-size: cover;
}

.twitterSay {
    background: url("../images/twitter-grey.png");
    background-size: cover;
    margin-right: 2px;
}

.pinIt {
    background: url("../images/pinterest-grey.gif");
    background-size: cover;
    cursor: pointer;
    opacity: 0.8;
}

.contact-username {
    width: 0;
    height: 0;
    opacity: 0;
    cursor: default;
}

.form-submit {
    border-radius: 0;
    border: solid 1px #000;
    color: #000;
}

.form-submit:hover {
    background: none;
    border: solid 1px #000;
    color: #000;
}

#fileupload .delete, #fileupload .toggle, .template-download, #fileupload .cancel {
    display: none;
}

.navbar-default {
    border: 0;
    background-color: #fff;
}

.single-image-wrapper {
    position: relative;
}

.image-control {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../images/blank.gif');
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.image-control.next {
    right: 0;
    background-image: url('../images/next.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.image-control.prev {
    left: 0;
    background-image: url('../images/prev.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}

body:not(.admin) {
    opacity: 0;
}

@media screen and (max-width: 670px) {
    .image-control.next {
        background-size: 20%;
    }

    .image-control.prev {
        background-size: 20%;
    }
}